.FAQ-container {
    padding-top: 12vh;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    .FAQ-header{
        text-transform: uppercase;
    }    
    @include for-normal-layout {
        padding-right: 80px;
        padding-left: 80px;
    }
    h2 {
        text-align: center;
        font-size: 30px;
    }
    @include for-normal-layout {
        font-size: 40px;
    }
    .question-answer {
       
        .headline {
            background-color: #cecece;
            padding: 10px;
            margin-bottom: 20px;

            .question {
                
                font-size: 18px;
                @include for-normal-layout {
                    font-size: 24px;
                }
            }

            .btn {
                cursor: pointer;
                width: 28px;
                background-color: transparent;
                border: 0px;
                @include for-normal-layout {
                    width: 44px;
                }
            }
        }
        .answer {
            padding: 10px;
            margin-bottom: 20px;
            font-size: 16px;
            background-color: #f3f3f3;
            max-width: 1000ch;
            @include for-normal-layout {
                font-size: 20px;
            }
            &.hide {
                display: none;
                animation-name: disappear;
                animation-duration: 1s;
            }

            &.show {
                display: block;
        
                animation-name: appear;
                animation-duration: 0.5s;
            }
        }
    }
}

@keyframes appear {
    0% {
        opacity: 30%;
    }
    30% {
        opacity: 60%;
    }
    70% {
        opacity: 70%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes disappear {
    100% {
        opacity: 100%;
    }
    70% {
        opacity: 70%;
    }
    30% {
        opacity: 60%;
    }
    0% {
        opacity: 30%;
    }
}
