.wishlist{
padding-top: 12vh;
}


.emptyCart{
background-image: url(https://tyjara.com/assets/site/img/empty-cart.png);
background-position: center;
background-size: contain;
background-repeat: no-repeat;
height: 60vh;
width: 100%;
}


.emptyWishList{
    background-image: url(https://tyjara.com/assets/site/img/empty-wishlist.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 60vh;
}