// Setup
@import "setup/variables.scss";
@import "setup/functions.scss";
@import "setup/mixins.scss";

// Basics
@import "basics/helpers.scss";
@import "basics/layout.scss";
@import "basics/base.scss";
@import "basics/links.scss";
@import "basics/buttons.scss";
@import "basics/typography.scss";

// Components
@import "components/main-header.scss";
@import "components/navbar.scss";
@import "components/numbers.scss";
@import "components/howItWorks.scss";
@import "components/ProductPreview.scss";
@import "components/ProductList.scss";
@import "components/filters.scss";
@import "components/shopHeader.scss";
@import "components/ProductEdit.scss";

//Pages
@import "views/wishlist"