    .login{
    height: 80vh;
    // background-image: url('../imgs/texture.jpg');
    // background-position: center;
    // background-repeat: no-repeat;


    .login-form *{
        margin-bottom: 10px;
        font-size: 18px;
            font-weight: 400;
            text-transform: uppercase;
            padding: 10px;
            width: 300px;
            border: 1px solid lightgray;
            }

        .email{

            margin-top: 5px;

        }
        .btn2{
            margin-bottom: 10px;
            // width: 252px;
            background-color:$clr2;
            color: white;
            font-size: 18px;
            font-weight: 600;
            cursor: pointer;
            border: none;
            padding: 5px;
            width: 100%;
    
    }

   

}

.radish{
    background-image: url("../imgs/radish.png");
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    top:0;
    height: 100vh;
    width: 46vw;
    right: 0px;
    @include for-normal-layout {
        width: 34vw;
    }
 

}

.eggplant{
    background-image: url("../imgs/eggplant.png");
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    top:0;
    height: 100vh;
    width: 46vw;
    right: 0px;
    @include for-normal-layout {
        width: 34vw;
    }
}
