
.header{

    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;





.main-header {
    text-align: center;
   
    .logo {
        max-width: 340px;
    }

    .header-title{
        font-family: oswald;
        font-size: 60px;
        text-transform: uppercase;
        font-weight: bolder;
        line-height: 60px;


        @include for-normal-layout{
            font-size: 110px;
            line-height: 138px;
            }
    }

    .header-btn{

        font-size: 20px;
        background-color: #82cc28;
        text-transform: uppercase;
        border:none;
        padding: 10px;
        font-weight: 700;
        cursor: pointer;
    }

}
.header-video{
    zoom: 1.5;
    position: fixed;
    top: -140px;
    z-index: -1;
    opacity: 0.3;
}

}