.nav-bar {
    width: 100%;
    flex-direction: column;
    z-index: 200;
    transition: 0.5s;
    position: absolute;

    &.open-menu {
        background-color: $clr5;
        @include for-normal-layout {
            background-color: transparent;
        }
    }
    @include for-normal-layout {
        flex-direction: row;
    }

    //LEFT SIDE

    .mobile-nav-head {
        margin-bottom: 20px;
        @include for-normal-layout {
            margin-bottom: 0px;
        }
        .main-logo {
            width: auto;
            height: 100%;
            align-self: center;
        }
    }

    &.open-menu {
        flex-direction: column;
        @include for-normal-layout {
            flex-direction: row;
        }
        .section {
            align-self: end;
            @include for-normal-layout {
                align-self: unset;
            }
        }
    }
    &.close-menu {
        .section {
            display: none;
            @include for-normal-layout {
                display: block;
            }
        }
    }

    //CENTER SIDE
    .center-side-nav {
        order: 2;
        font-size: 20px;
        margin-bottom: 30px;
        @include for-normal-layout {
            margin-bottom: 0px;
        }
        cursor: pointer;

        .seperator {
            width: 100%;
            height: 1.2px;
            background-color:$clr2;
            &.close-menu {
                display: none;
                @include for-normal-layout {
                    display: block;
                }
            }
        }
        :not(:first-child) {
            margin-left: 0px;
            @include for-normal-layout {
                margin-left: 14px;
            }
        }
        @include for-normal-layout {
            order: 1;
            flex-direction: row;
            align-items: center;
        }
        .section {
            color: black;
            text-decoration: none;
            list-style-type: none;
        }

        .selected {
            color: $clr2;
            font-weight: bold;
            text-decoration: none;
        }
        &.open-menu {
            flex-direction: column;
            @include for-normal-layout {
                flex-direction: row;
            }
            .section {
                align-self: end;
                @include for-normal-layout {
                    align-self: unset;
                }
            }
        }
        &.close-menu {
            .section {
                display: none;

                @include for-normal-layout {
                    display: block;
                }
            }
        }
    }

    //RIGHT SIDE

    .right-side-nav {
        order: 1;
        justify-content: space-between;
        margin-bottom: 30px;
        @include for-normal-layout {
            margin-bottom: 0px;
            order: 2;
            justify-content: flex-end;
        }
        cursor: pointer;
        flex: 1;

        :not(:last-child) {
            margin-right: 14px;
            @include for-normal-layout {
                margin-right: 14px;
            }
        }
        img {
            max-width: 24px;
        }

        
   
        .avatar-circle{
            width: 28px;
            height: 28px;
            background-color: lightcoral;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            .avatar{
                color: white;
                font-weight: bold;
                text-transform: uppercase;
            }
    
        }

        .nav{
            position: relative;

            .wishlist-amount{
                left: 50%;
                bottom: 50%;
                position: absolute;
                background-color: $clr1;
                border-radius: 30px;
                border: 1px solid transparent;
                width: 22px;
        
                }
                .cart-amount{
                    left: 50%;
                    bottom: 50%;
                position: absolute;
                background-color: $clr1;
                border-radius: 30px;
                border: 1px solid transparent;
                width: 22px;
        
                }


        }
     

        .main-search {
            flex: 1;
            @include for-normal-layout {
                flex: 0;
            }
            .search {
                height: 44px;
                border: 1px solid $clr4;
                padding: 6px;
                background-color: transparent;
                flex: 1;

                @include for-narrow-layout {
                    width: 20vw;
                }
                ::placeholder {
                    color: red;
                }
            }

            .search-img {
                position: relative;
                right: 50px;
            }
        }

            &.close-menu {
            display: none;

            @include for-normal-layout {
                display: flex;
            }
        }
    }
    .mobile-menu {
        display: block;
        width: 22px;
        outline: none;
        @include for-normal-layout {
            display: none;
        }
    }
}











.hamburger{
    align-self: center;
    @include for-normal-layout {
        display: none;
    }
    .line{
        width: 30px;
        height: 5px;
        background-color: black;
        display: block;
        margin: 6px auto;
        transition: all 0.3s ease-in-out;
        align-self: center;
      }
    }
    .hamburger.open-menu .line:nth-child(2){
        opacity: 0;
      }
      
      .hamburger.open-menu .line:nth-child(1){
        transform: translateY(11px) rotate(45deg);
      }
      
      .hamburger.open-menu .line:nth-child(3){
        transform: translateY(-11px) rotate(-45deg);
      }


      .navbar-menu{
        position: absolute;
        color: black;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        padding: 5px;
       
      
        .logout,
        .my-shop{
            margin-top: 5px;
            margin-right: 14px;
            text-decoration: none;
            color: black;
            font-weight: bold;
            font-family: inherit;
            text-align: center;
            &:hover{
            color: $clr1;
            }

        }
        .seprator{

            width: 100%;
            height: 1px;
            border: 0px;
            background: rgba(219, 219, 219, 0.7);

        }
      }