.card {
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    margin: 10px;
    position: relative;

    
    .edit-btn{
        position: absolute;
        height: 30px;
        width: 30px;
        background-color: none;
        background: none;
        border: none;
        left: 0;
        top: 0;
        padding: 5px;
        cursor: pointer;
        margin:5px
    }

    .delete-btn{
        background-color: transparent;
        border:0px;
        align-self: flex-end;
        font-size: 16px;
        font-weight: bold;
    }
    .logo {
        width: 40%;
        cursor: pointer;;
    }
    .product-img {
        width: 100%;
    }

    .product-title {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        height:6vh ;
        @include for-normal-layout {
            font-size: 18px;
        }
    }

    .location {
        .location-img {
            width: 10%;
            @include for-normal-layout {
                width: 6%;
            }
        }
        .location-text {
            color: grey;
            font-size: 12px;
            @include for-normal-layout {
                font-size: 14px;
            }
        }
    }

    .seperator {
        width: 100%;
        height: 1px;
        border: 0px;
        background: rgba(219, 219, 219, 0.7);
    }

    .price {
        font-family: oswald;
        font-size: 28px;
    }

    .panel {
        margin-bottom: 14px;
        .minus,
        .plus {
            background-color: transparent;
            border: 0px;
            width: calc((50vw - 20px) / 10);
            opacity: 70%;
            cursor: pointer;
            @include for-normal-layout {
                width: calc((50vw - 20px) / 34);
            }
        }

        .number {
            font-size: 16px;
            margin-right: 10px;
            margin-left: 10px;
        }
    }

    .whishlist-cart {
        width: 100%;
        
        .heart {
            cursor: pointer;
           width: 26px;
            @include for-normal-layout {
                width: 28px;
            }
        }

        .add-to-cart {
            cursor: pointer;
            color: $clr5;
            background-color: transparent;
            border: 0px;
            padding:5px;
            background-color: $clr2;
            flex:1;
            margin-left: 15px;
            font-size: 14px;
            
            @include for-normal-layout {
                font-size: 18px;
            }
            img{
                width:14px;

            }
        }
    }
}
