.shop-header {
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-s7-kaboompics6-1747.jpg?bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&mark=&markalpha=90&markpad=13&markscale=10&markx=25&q=65&usm=15&vib=3&w=1400&s=426b3841048e98a5d338a0f456d21d7f");
    background-size: cover;
    height: 80vh;
    position: relative;
    @include for-narrow-layout {
        height: 85vh;
    }
    @include for-normal-layout {
        height: 65vh;
    }

    .file-upload{
        display: none

    }

    .logo-wrapper{

        position: relative;
    }

    .edit-shop-btn{
        // position: absolute;
        width: 40px;
        background-color: transparent;
        border: none;
        padding: 10px;;
        cursor: pointer;
        background-color: white;

    position: absolute;
    left: 104px;
    top: 104px;
    border-radius: 50%;
    height: 45;
        
    }

    .edit-label{
        position: absolute;
        left: 0;
        top: 0;
    }
    
    .main-content {
        height: 80vh;

        background-color: rgba(#020202, 0.5);
        padding: 40px;
        @include for-narrow-layout {
            height: 85vh;
        }
        @include for-normal-layout {
            height: 65vh;
        }

        .header-container{
            position: relative;




        }



        .headline {
            text-align: center;
            color: $clr5;
            font-size: 40px;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 14px;
            margin-bottom: 10px;
            @include for-normal-layout {
                font-size: 70px;
            }
        }
        .logo {
            width: 140px;
            // margin-right: 40px;
            
        }

        .main-text {
            text-align: center;
            font-size: 28px;
            letter-spacing: 5px;
            line-height: 38px;
            color: white;
            margin-bottom: 20px;
        }
    }
}

.add-btn{
    font-size: 20px;
    background-color:$clr1;
    color: white;
    text-transform: uppercase;
    border: none;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    position: fixed;
    z-index: 3;
    right: 0;
    bottom: 20px;
    height: 47px;
    width: 186px;
    &:hover{

        background-color: darken($color:$clr1, $amount: 7.3%);
    }
}