* {
    box-sizing: border-box;
}

html {
    font-family: roboto,serif;
    line-height: 1.6;
}

body {
    margin: 0;
}

body,html{
// width: 100vw;
min-height: 100vh;

}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-weight: normal;
}

h1 {
    font-size: rem(60px);
    margin-bottom: rem(20px);
}

p {
    font-family: roboto;
    margin: 0 0 rem(12px);
    max-width: 60ch;
    margin: 0;
}
ul{
    padding:0px;
}
button,input{
    outline: none;
}

.flex1{
    flex:1;
}
.top-padding{
    padding-top: 12vh;
}